#wrapper{
    position: absolute;
    overflow: hidden;
}

#wrapper > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper ul > li{
    float: left;
    position: relative;
}

#panel-1{
    background-color: blue;
}

#panel-2{
    background-color: green;
}

#panel-3{
    background-color: red;
}