#wrapper{
    position: absolute;
    overflow: hidden;
}

#wrapper > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper ul > li{
    float: left;
    position: relative;
}

#panel-1{
    background-color: #f39c12;
}

#panel-2{
    background-color: #c0392b;
}

#panel-3{
    background-color: #2cc36b;
}